<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>
    <link rel="icon" href="{{asset "favicon.ico"}}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="{{canonical}}">

    {{ghost_head}}

    <link rel="stylesheet" href="{{asset "built/index.css"}}">
</head>
<body class="{{body_class}}">

{{{body}}}

<script src="{{asset "js/index.js"}}"></script>
{{ghost_foot}}
</body>
</html>